<html>
<body>
<!-- Facebook SDK -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '144741116173747',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.11'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Login -->
<script>
  function checkLoginState() {
  FB.getLoginStatus(function(response) {
  if (response.status == "connected") {
  loggedIn();
  }
  else {
  loggedOut();
  }
  });
  }
  function loggedIn() {
  var user = FB.api("/me", function(response) {
  document.getElementById("loginInfo").innerHTML = JSON.stringify(response);
  });
  }
  function loggedOut() {
  document.getElementById("loginInfo").innerHTML = "Logged out";
  }
</script>
<p>Sign in with Facebook!</p> <br>
<p id="loginInfo"></p>
<fb:login-button 
  scope="public_profile,email,user_friends"
  onlogin="checkLoginState();">
</fb:login-button>
</body>
</html>
